{% extends 'base_layout.html' %}
{% from "_report/_macros.html" import report_row %}

{% block content %}
<div class="container">
  <h1>Company Profile</h1>
  <br>

  <h2>Contact Information</h2>
  <div>
      {{ report_row('Name', company.name) }}
      {{ report_row('Primary email', company.email) }}
      {{ report_row('phone', company.phone) }}
      {{ report_row('Bio', company.bio) }}
  </div>
  <br>
  
  <h2>Service Agreements</h2>
  {% if service_agreements|length > 0 %}
    {% for sa in service_agreements %}
    <div>
        {{ report_row('Name', sa.name) }}
        {{ report_row('Effective Date', sa.started_on) }}
    </div>
    {% endfor %}
  {% else %}
    <div><strong>No service agreements found.</strong></div>
    <div><a href="{{ url_for('request_bp.add_request', content='new_service_agreement') }}">Request to create one.</a></div>
  {% endif %}
  <br>
</div>
{% endblock %}
