{% macro render_field_with_errors(field) %}
  <p>
    {{ field.label }} {{ field(**kwargs)|safe }}
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_cleanfield_with_errors(field) %}
  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-2" align="right">{{ field.label }}:</div>
    <div class="col-md-2" align="left">{{ field(**kwargs)|safe }}</div>
    <div class="col-md-4" align="left">
    {% if field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
{% endmacro %}
